@model PagedList<DesafioTecnicoAlunoTurma.DTO.TurmaDTO>

@{
    ViewData["Title"] = "GetAll";
}

<h1>Lista de todas as turmas</h1>

<p>
    <a asp-action="FormCreateTurma">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome da turma
            </th>
            <th>
                Ano
            </th>
            <th>
                Ativo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Edit", "FormUpdateTurma", new { item.Id, item.NomeTurma, item.Ano, item.Ativo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var nextPage = Model.CurrentPage + 1;
    var previousPage = Model.CurrentPage - 1;
}

<p>
    @if (Model.HasPrevious)
    {
        <a asp-action="GetAll" asp-route-pageNumber="0">First</a>
        <a asp-action="GetAll" asp-route-pageNumber="@previousPage">Previous</a>
    }

    @if (Model.HasNext)
    {
        <a asp-action="GetAll" asp-route-pageNumber="@nextPage">Next</a>
    }
    <br>
    <div class="form-group">
        <label for="pageSize">Items per page:</label>
        <select class="form-control w-25" id="pageSize" name="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <a asp-action="GetAll" id="applyPageSize">Apply</a>
</p>

<script>
    document.getElementById("applyPageSize").addEventListener("click", function () {
        var selectedValue = document.getElementById("pageSize").value;
        var applyLink = document.getElementById("applyPageSize");
        applyLink.href = applyLink.href + "?PageSize=" + selectedValue;
    });
</script>